body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F2EFE7;
  overflow-x: auto;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.app-title {
  font-size: 3rem;
  font-weight: 800;
  color: #006A71;
  margin-bottom: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* --- Styles for the main content layout --- */
.app-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
  width: 100%;
  max-width: 1400px; /* גבול מקסימלי לאלמנט המרכזי */
  box-sizing: border-box;
}

.side-column {
  width: 300px;
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-column {
  flex: 1;
  min-width: 0; 
}

.timeline-images-left,
.timeline-images-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 100%; 
}

@media (max-width: 1024px) {
  .app-content-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .side-column {
    width: 100%;
    max-width: none;
    flex-direction: row;
    overflow-x: auto;
  }

  .timeline-images-left,
  .timeline-images-right {
    flex-direction: row;
    max-height: none;
  }

}
