.footer {
  width: 100%;
  padding: 20px;
  background-color: #006A71;
  color: #F2EFE7;
  text-align: center;
  user-select: none;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
