.header {
  width: 100%;
  background-color: #006A71;
  color: #F2EFE7;
  padding: 20px 40px;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  user-select: none;
  position: relative;
  justify-content: space-between;
}



.header div:first-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-actions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
  color: #F2EFE7;
  font-size: 1.2rem;
  margin-right: auto;
}

.profile-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logout-button {
  margin-left: auto; /* Pushes to the right */
  padding: 6px 16px;
  background: #e53e3e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background 0.2s;
  
}

.logout-button:hover {
  background: #c53030;
}

.back-button {
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 28px;
  color: #F2EFE7;
  border-radius: 50%;
  margin-right: auto;
  align-items: center;
  
}
.back-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
