.timeline-images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 20px;
  justify-content: center; 
  box-shadow: none;
  background-color: transparent;
}

.timeline-image-item {
  aspect-ratio: 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;          
  border-radius: 8px;
  overflow: hidden;
}

.timeline-image-item img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.image-caption {
  font-size: 0.85em;
  color: #555;
  margin-top: 8px;
  padding: 0 10px;
  line-height: 1.3;
}


@media (min-width: 1024px) {
  .timeline-images-right {
    grid-column: 3; /* Place in the third column */
    padding-left: 60px
  }
  .timeline-images-left {
    grid-column: 1; /* Place in the first column */
    padding-right: 60px;
  }
  .results-container {
    grid-column: 2; /* Place main content in the second column */
  }

}